<%= render "template/nav" %>

<!-- room details -->
<div class="lg:my-20 lg:mx-[100px] sm:mx-[20px]">
  <div class="w-full flex justify-between items-center">
  <h2 class="text-xl font-semibold">Featured rooms:</h2>
  <%#= link_to list_a_room_url do %>
    <%# <div class="flex items-center space-x-4"> %>
      <%# <p>List all Rooms</p> %>
      <%# <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
      </svg> %>
    <%# </div> %>
  <%# end %>
  </div>
  <div class="grid xl:grid-cols-4 lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-2 gap-1">
    <% @rooms.each do |room| %>
      <div class="h-auto">
        <div class="group relative">
          <div class="flex p-6 max-w-md mx-auto">
            <%# <a href="#" class="block rounded-lg p-4 shadow-sm shadow-indigo-100"> %>
            <%= link_to room__path(slug: room.slug), class: "block rounded-lg p-4 shadow-sm shadow-indigo-100" do %>
              <%# <img
                alt="Home"
                src="https://images.unsplash.com/photo-1613545325278-f24b0cae1224?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
                class="h-56 w-full rounded-md object-cover"
              /> %>
              <%= cl_image_tag(room.image_url, class: "h-56 w-full rounded-md object-cover", default_image: "default_image.jpg") %>

              <div class="mt-2">
                <dl>
                  <div>
                    <dt class="sr-only">Price</dt>

                    <dd class="text-sm text-gray-500"><%= room.roomPrice %></dd>
                  </div>

                  <div>
                    <dt class="sr-only">Address</dt>

                    <dd class="font-medium"><%= room.address %></dd>
                  </div>
                </dl>

                <div class="mt-6 flex items-center gap-8 text-xs">
                  <div class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-2">
                    <svg
                      class="h-4 w-4 text-indigo-700"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M8 14v3m4-3v3m4-3v3M3 21h18M3 10h18M3 7l9-4 9 4M4 10h16v11H4V10z"
                      />
                    </svg>

                    <div class="mt-1.5 sm:mt-0">
                      <p class="text-gray-500">Gender</p>

                      <p class="font-medium"><%= room.gender %></p>
                    </div>
                  </div>

                  <div class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-2">
                    <svg
                      class="h-4 w-4 text-indigo-700"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z"
                      />
                    </svg>

                    <div class="mt-1.5 sm:mt-0">
                      <p class="text-gray-500">Bathroom</p>

                      <p class="font-medium">2 rooms</p>
                    </div>
                  </div>

                  <div class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-2">
                    <svg
                      class="h-4 w-4 text-indigo-700"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"
                      />
                    </svg>

                    <div class="mt-1.5 sm:mt-0">
                      <p class="text-gray-500">Bedroom</p>

                      <p class="font-medium">4 rooms</p>
                    </div>
                  </div>
                </div>
              </div>
            <%# </a> %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>  
  </div>
</div>