<%= render "template/nav" %>
<div class="bg-white room_details" data-turbo="false">  
  <!-- Image gallery -->
  <div class="mx-auto max-w-2xl mt-16 px-4 py-6 sm:px-6 lg:max-w-7xl lg:px-8">
    <%# <nav aria-label="Breadcrumb">
      <ol role="list" class="mx-auto flex max-w-2xl items-center space-x-2 px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <li>
          <div class="flex items-center">
            <a href="#" class="mr-2 text-sm font-medium text-gray-900">Men</a>
            <svg width="16" height="20" viewBox="0 0 16 20" fill="currentColor" aria-hidden="true" class="h-5 w-4 text-gray-300">
              <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
            </svg>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <a href="#" class="mr-2 text-sm font-medium text-gray-900">Clothing</a>
            <svg width="16" height="20" viewBox="0 0 16 20" fill="currentColor" aria-hidden="true" class="h-5 w-4 text-gray-300">
              <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
            </svg>
          </div>
        </li>

        <li class="text-sm">
          <a href="#" aria-current="page" class="font-medium text-gray-500 hover:text-gray-600">Basic Tee 6-Pack</a>
        </li>
      </ol>
    </nav> %>
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">Room Gallery</h2>
    <div class="">
      <div class="mt-6 grid grid-cols-2 sm:grid-cols-2">
        <%# <div class="aspect-h-1 aspect-w-1 w-50 overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80"> %>
          <%#= cl_image_tag(@room.image_url,  class: "h-full w-full object-cover object-center lg:h-full lg:w-full", default_image: "default_image.jpg") %>
        <%# </div> %>
      </div>  
      <div class="mt-6 grid grid-cols-1 gap-x-2 gap-y-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-2">
        <% @room.room_images.each do |r| %>
          <div class="group relative">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
              <%= cl_image_tag(r.room_image_url,  class: "h-full w-full object-cover object-center lg:h-full lg:w-full", default_image: "default_image.jpg") %>
            </div>
            <%# <div class="mt-4 flex justify-between">
              <div>
                <h3 class="text-sm text-gray-700">
                  <a href="#">
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    Basic Tee
                  </a>
                </h3>
                <p class="mt-1 text-sm text-gray-500">Black</p>
              </div>
              <p class="text-sm font-medium text-gray-900">$35</p>
            </div> %>
          </div>
        <% end %>
      </div>
    </div>  
  </div>
  
  <!-- Product info -->
  <div class="mx-auto max-w-2xl px-4 pb-6 pt-6 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8 lg:px-8 lg:pb-10 lg:pt-4">
    <div class="lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
      <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl" id = "room_type" data-value="<%= @room.roomType %>"><%= @room.roomType.titleize %></h1>
      <p class="text-xl font-semibold text-gray-900 dark:text-white"><%= @room.roomType %></p>
    </div>

    <!-- Options -->
    <div class="mt-4 lg:row-span-3 lg:mt-0">
      <h2 class="sr-only">Product information</h2>
      <p class="text-3xl tracking-tight text-gray-900" id = "roomPrice" data-value="<%= @room.roomPrice %>">$ <%= @room.roomPrice %> night</p>

      <!-- Reviews -->
      <div class="mt-6">
        <h3 class="sr-only">Reviews</h3>
        <div class="flex items-center">
          <div class="flex items-center">
            <!-- Active: "text-gray-900", Default: "text-gray-200" -->
            <svg class="text-gray-900 h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
            </svg>
            <svg class="text-gray-900 h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
            </svg>
            <svg class="text-gray-900 h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
            </svg>
            <svg class="text-gray-900 h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
            </svg>
            <svg class="text-gray-200 h-5 w-5 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
            </svg>
          </div>
          <p class="sr-only">4 out of 5 stars</p>
          <a href="#" class="ml-3 text-sm font-medium text-indigo-600 hover:text-indigo-500">117 reviews</a>
        </div>
      </div>
      
      <!-- room checkout-->
      <div class="space-y-4 rounded-lg border border-gray-200 bg-white p-4  dark:bg-gray-800 sm:p-6">
        <%= form_with(model: @room, url: web_room_checkout_path, method: "get", 
                    remote: true,
                    local: false,  
                    scope: "room", 
                    id: "room_checkout", 
                    class: "mx-auto mt-10 flex-1 space-y-6 lg:mt-6 lg:w-full") do |form| %>

          <div class="space-y-4 bg-gray-50 p-6 dark:bg-gray-800">
            <div class="space-y-2">
              <dl class="flex items-center justify-between gap-4">
                <dt class="font-normal text-gray-500 dark:text-gray-400">
                  $ <%= @room.roomPrice %> * <span id="days-count">0 night</span>
                </dt>
                <%= form.hidden_field :room_price, id: 'price-input' %>
                <span id = "room_price" class = "font-medium text-gray-900 dark:text-white"></span>
              </dl>
              <%# data-value = @room.roomPrice  %>

              <dl class="flex items-center justify-between gap-4">
                <dt class="font-normal text-gray-500 dark:text-gray-400">Service Fee</dt>
                <span data-value = "50" id = "service_fee" class="font-medium text-green-500">50.0</span>
              </dl>

              <dl class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2 dark:border-gray-700">
                <dt class="text-lg font-bold text-gray-900 dark:text-white">Total</dt>
                <%= form.hidden_field :total_checkout, id: 'total-input' %>
                <span id = "total_checkout" class="text-lg font-bold text-gray-900 dark:text-white"></span>
              </dl>
            </div>
          </div>          <%#= @room.roomPrice.to_f + 50%>
          <%= form.hidden_field :room_id, value: @room.id, id: 'room_id' %>
          <%= form.date_field :start_date, required: false, 
              placeholder: "Start date", id: "start_date", 
              class: "block w-full p-3 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 md:text-xl focus:ring-blue-500 focus:border-blue-500 
                      dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
          <%= form.date_field :end_date, required: false, id: 'end_date', 
              placeholder: "End date",
              class: "block w-full p-3 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 md:text-xl focus:ring-blue-500 focus:border-blue-500 
                      dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
          <%= form.number_field :phone_number, placeholder: "+0123456789", id: 'customer_phone',
              class: "block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 
                      dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
                              <!-- guest choose -->
          <div class="relative inline-block text-left w-full">
              <div>
                <button type="button" class="inline-flex justify-between w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm 
                                            font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" 
                                      id="menu-button" aria-expanded="true" aria-haspopup="true">
                  <b>Guest</b> <span class="ml-2 text-gray-500" id="guests-count" data-value="adults 1" guest-count="1"></span>
                  <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                  </svg>
                </button>
              </div>

                              <!-- Dropdown menu -->
            <div class="origin-top-right absolute right-0 mt-2 w-full rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none hidden" id="dropdown-menu" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
              <div class="py-1" role="none">
                <!-- Adult count -->
                <div class="flex justify-between items-center px-4 py-2 text-sm text-gray-700">
                  <span>Adults</span>
                  <div class="flex items-center">
                    <button class="p-1 rounded-full hover:bg-gray-200 guest-button" id="decrease-adults">-</button>
                    <span class="mx-2" id="adults-count">1</span>
                    <button class="p-1 rounded-full hover:bg-gray-200 guest-button" id="increase-adults">+</button>
                  </div>
                </div>
                <%#-- Children count -->
                <div class="flex justify-between items-center px-4 py-2 text-sm text-gray-700">
                  <span>Children</span>
                  <div class="flex items-center">
                    <button class="p-1 rounded-full hover:bg-gray-200" onclick="updateCount('children', -1)">-</button>
                    <span class="mx-2" id="children-count">0</span>
                    <button class="p-1 rounded-full hover:bg-gray-200" onclick="updateCount('children', 1)">+</button>
                  </div>
                </div>
                <!-- Infants count -->
                <div class="flex justify-between items-center px-4 py-2 text-sm text-gray-700">
                  <span>Infants</span>
                  <div class="flex items-center">
                    <button class="p-1 rounded-full hover:bg-gray-200" onclick="updateCount('infants', -1)">-</button>
                    <span class="mx-2" id="infants-count">0</span>
                    <button class="p-1 rounded-full hover:bg-gray-200" onclick="updateCount('infants', 1)">+</button>
                  </div>
                </div> --%>
              </div>
            </div>
          </div>
<!-- --> 
        <% end %>
        <button id="reserve" class="mt-10 flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-base
         font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Reserve</button>
      </div>
    </div>

<!-- description -->
    <div class="py-10 lg:col-span-2 lg:col-start-1 lg:border-r lg:border-gray-200 lg:pb-16 lg:pr-8 lg:pt-6">
<!-- Description and details -->
      <div>
        <h3 class="sr-only">Description</h3>
        <div class="space-y-6">
          <p class="text-base text-gray-900"><%= @room.details %></p>
        </div>
      </div>

      <div class="relative isolate flex items-center gap-x-6 overflow-hidden bg-gray-50 px-6 py-2.5 sm:px-3.5 sm:before:flex-1 my-4">
        <div class="absolute top-1/2 left-[max(-7rem,calc(50%-52rem))] -z-10 -translate-y-1/2 transform-gpu blur-2xl" aria-hidden="true">
          <div class="aspect-577/310 w-[36.0625rem] bg-linear-to-r from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)"></div>
        </div>
        <div class="absolute top-1/2 left-[max(45rem,calc(50%+8rem))] -z-10 -translate-y-1/2 transform-gpu blur-2xl" aria-hidden="true">
          <div class="aspect-577/310 w-[36.0625rem] bg-linear-to-r from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)"></div>
        </div>
        <div class="flex flex-wrap items-center gap-x-4 gap-y-2">
          <p class="text-sm/6 text-gray-900">
            <strong class="font-semibold">Best HostelMate</strong>
            <svg viewBox="0 0 2 2" class="mx-2 inline size-0.5 fill-current" aria-hidden="true">
              <circle cx="1" cy="1" r="1" />
            </svg>You can search your match friend
          </p>
          <a href="/auth/sign_in" class="flex-none rounded-full bg-gray-900 px-3.5 py-1 text-sm font-semibold text-white shadow-xs hover:bg-gray-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900">Register now <span aria-hidden="true">&rarr;</span></a>
        </div>
        <div class="flex flex-1 justify-end">
          <button type="button" class="-m-3 p-3 focus-visible:outline-offset-[-4px]">
            <span class="sr-only">Dismiss</span>
            <svg class="size-5 text-gray-900" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z" />
            </svg>
          </button>
        </div>
      </div>


<!-- room details -->
      <div class="mt-10">
        <h3 class="text-sm font-medium text-gray-900">Room Details</h3>
        <div class="mt-4">
          <dl class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-10 lg:gap-x-8">
            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900">Address</dt>
              <dd class="mt-2 text-sm text-gray-500"><%= @room.address %></dd>
            </div>
            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900">Max Person</dt>
              <dd class="mt-2 text-sm text-gray-500" id="maxPersons" data-value="<%= @room.maxPersons%>"><%= @room.maxPersons %></dd>
            </div>
            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900">Price</dt>
              <dd class="mt-2 text-sm text-gray-500" id="room_price_detail" data-value="<%= @room.roomPrice %>"><%= @room.roomPrice %></dd>
            </div>
            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900">Gender</dt>
              <dd class="mt-2 text-sm text-gray-500"><%= @room.gender %></dd>
            </div>
            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900">Room Number</dt>
              <dd class="mt-2 text-sm text-gray-500"><%= @room.roomNumber %></dd>
            </div>
            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900">Room Status</dt>
              <dd class="mt-2 text-sm text-gray-500"><%= @room.room_status %></dd>
            </div>
          </dl>
        </div>
      </div>

      <%# <div class="mt-10">
        <h2 class="text-sm font-medium text-gray-900">Details</h2>

        <div class="mt-4 space-y-6">
          <p class="text-sm text-gray-600">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
        </div>
      </div> %>
    </div>
  </div>

<!-- show map -->
  <section class="bg-white dark:bg-gray-900 py-0 sm:py-0 mt-0 mb-6 lg:max-w-none">
    <div class="py-0 px-4 mx-auto max-w-screen-xl lg:px-6">
      <div class="bg-white">
        <div class="pt-2">
          <!-- Image gallery -->
          <%= js_map [{latitude: @room.latitude, longitude: @room.longitude, label: @room.roomType, tooltip: html_link_to(@room) }],
                width: "100%", height: "500px", controls: true, zoom: 12,
                tooltips: {hover: false, html: true} %>
        </div>
      </div>
    </div>
  </section>
</div>

          <%#= form.submit "Add Booking", id: "checkout", 
              class: "mt-10 flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
          <%# if @room.property.nil? %>
            <%#= form.submit "Add Booking", class: "mt-10 flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
          <%# else %>
            <%# <button type="button" class="mt-10 flex w-full items-center justify-center rounded-md border border-gray-300  px-8 py-3 text-base font-medium text-black focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" disabled>Sold Out</button> %>
          <%# end %>

<script>
  // Initialize counts
  // let counts = {
  //   adults: 1,
  //   // children: 0,
  //   // infants: 0
  // };

  // // limit the number of
  // const maxLimits = {
  //   adults: <%#= @room.maxPersons %>,
  //   // children: 2,
  //   // infants: 1
  // }

  // Function to update counts
  // function updateCount(type, change, event) {
  //   const newCount = counts[type] + change;
  //   if (newCount >= 0 && newCount <= maxLimits[type]) {
  //     counts[type] = newCount;
  //     document.getElementById(`${type}-count`).textContent = counts[type];
  //   }
  //   document.getElementById('guests-count').textContent = `${type}` + " " + counts.adults;
    
  //   var element = document.getElementById('guests-count');
  //   element.setAttribute('data-value', `${type}` + " " + counts.adults);
  //   element.setAttribute('guest-count', counts.adults);

  //   var room_price_detail = document.getElementById('room_price_detail').getAttribute('data-value');
  //   var guest_count = document.getElementById('guests-count').getAttribute('guest-count');
  //   var room_price = parseInt(room_price_detail) * parseInt(guest_count);
  //   $('#room_price').text(room_price);   

    // document.getElementById('roomPrice').getAttribute('data-value');
    // document.getElementById('price-input').value = document.getElementById('roomPrice').getAttribute('data-value') * counts.adults;
    // document.getElementById('total_checkout').textContent = document.getElementById('roomPrice').getAttribute('data-value') * counts.adults + 50;
    // document.getElementById('total-input').value = document.getElementById('roomPrice').getAttribute('data-value') * counts.adults + 50;
  // }

  // Toggle dropdown menu
  const dropdownButton = document.getElementById('menu-button');
  const dropdownMenu = document.getElementById('dropdown-menu');

  dropdownButton.addEventListener('click', () => {
    dropdownMenu.classList.toggle('hidden');
  });

  // Close dropdown when clicking outside
  document.addEventListener('click', (event) => {
    if (!dropdownButton.contains(event.target) && !dropdownMenu.contains(event.target)) {
      dropdownMenu.classList.add('hidden');
    }
  });
</script>