<%= simple_form_for(@user, as: :user, method: :post, url: update_member_users_path) do |f| %>
  <div class="mx-auto md:w-2/3 w-full">

    <div class="grid gap-4 mb-6 md:grid-cols-2">
      <% if @user.avatar.present? %>
        <%= cl_image_tag(@user.avatar_url,  class: "h-auto max-w-lg rounded-lg", default_image: "default_image.jpg") %>
      <% else %>
        <%= image_tag("default_profile.jpg") %>
      <% end %>
    </div>

    <div class="grid gap-4 mb-6 md:grid-cols-2">
      <%= f.input :user_name, class: "w-full rounded-lg border-gray-200 p-3 text-sm" %>
    </div>

    <div class="grid gap-4 mb-6 md:grid-cols-2">
      <%= f.input :email, disabled: true, class: "w-full rounded-lg border-gray-200 p-3 text-sm" %>
    </div>

    <div class="grid gap-4 mb-6 md:grid-cols-2">
      <%= f.input :phone_number, class: "w-full rounded-lg border-gray-200 p-3 text-sm" %>
    </div>

    <div class="grid gap-4 mb-6 md:grid-cols-2">
      <%= f.input :address, class: "w-full rounded-lg border-gray-200 p-3 text-sm" %>
    </div>

    <div class="grid gap-4 mb-6 md:grid-cols-2">
      <%= f.input :role, collection: User.roles.keys, disabled: true, class: "w-full rounded-lg border-gray-200 p-3 text-sm" %>
    </div>

    <div class="grid gap-4 mb-6 md:grid-cols-2">
      <%= f.file_field :avatar, id: "small_size", class: "block w-full mb-5 text-xs text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" %>
    </div>

    <div class="grid gap-4 mb-6 md:grid-cols-2">
      <%= f.input :verified, disabled: true, class: "w-full rounded-lg border-gray-200 p-3 text-sm" %>
    </div>

    <div class="mt-4">
      <%= f.button :submit, class: "inline-block w-full rounded-lg bg-black px-5 py-3 font-medium text-white sm:w-auto" %>
    </div>

  </div>      
<% end %>