<%= simple_form_for(@user, as: :user, method: :post, url: update_member_users_path) do |f| %>
  <div class="mx-auto md:w-2/3 w-full">
    <div class="grid gap-4 mb-6 md:grid-cols-2">
      <%= f.input :user_name, class: "w-full rounded-lg border-gray-200 p-3 text-sm" %>
    </div>

    <div class="grid gap-4 mb-6 md:grid-cols-2">
      <%= f.input :email, disabled: true, class: "w-full rounded-lg border-gray-200 p-3 text-sm" %>
    </div>

    <div class="grid gap-4 mb-6 md:grid-cols-2">
      <%= f.input :phone_number, class: "w-full rounded-lg border-gray-200 p-3 text-sm" %>
    </div>

    <div class="grid gap-4 mb-6 md:grid-cols-2">
      <%= f.input :address, class: "w-full rounded-lg border-gray-200 p-3 text-sm" %>
    </div>

    <div class="grid gap-4 mb-6 md:grid-cols-2">
      <%= f.input :role, collection: User.roles.keys, disabled: true, class: "w-full rounded-lg border-gray-200 p-3 text-sm" %>
    </div>

    <div class="grid gap-4 mb-6 md:grid-cols-2">
      <%= f.input :verified, disabled: true, class: "w-full rounded-lg border-gray-200 p-3 text-sm" %>
    </div>

    <div class="mt-4">
      <%= f.button :submit, class: "inline-block w-full rounded-lg bg-black px-5 py-3 font-medium text-white sm:w-auto" %>
    </div>

  </div>      
<% end %>