<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.turbo.min.js"></script> %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
    <main class=""> <!-- container mx-auto mt-28 px-5 flex -->
      <div id="app" class="h-screen flex flex-col">
        <div class="w-full ml-auto bg-gray-100 col-span-7 flex-1 overflow-y">
          <%= render "template/sidebar_menu" %>
          <%= render "template/alert" %>
          <div class="p-4 sm:ml-64">
            <%= yield %>
          </div>
        </div>  
      </div>  
    </main>
  </body>
</html>
