<!DOCTYPE html>
<html>
  <head>
    <title>Flatmatecharacter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/keen-slider@6.8.6/keen-slider.min.css" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.turbo.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XSZZ6M1HSM"></script>
    <%# <chat-bot platform_id="aa60b5b7-8387-4e55-85e3-2d8ab2b79c61" user_id="5d02eb5c-cfb1-4e42-b50e-43cbae8894b0" chatbot_id="94646ea5-e389-4f59-9bc3-6007e3393e74"><a href="https://www.chatsimple.ai/?utm_source=widget&utm_medium=referral">chatsimple</a></chat-bot><script src="https://cdn.chatsimple.ai/chat-bot-loader.js" defer></script> %>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-XSZZ6M1HSM');
    </script>
    <%# <script type='text/javascript'>
      window.smartlook||(function(d) {
        var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
        var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
        c.charset='utf-8';c.src='https://web-sdk.smartlook.com/recorder.js';h.appendChild(c);
        })(document);
        smartlook('init', 'ac1d3bfb9bd3cd1f9d6aec286962cf594461ddaa', { region: 'eu' });
    </script> %>
    <!-- Brevo Conversations {literal} -->
    <script>
      console.log("application.js. runs one time only");

      document.addEventListener("turbo:load", (event) => {
        console.log("turbo:load. runs every time a page is loaded");

        (function(d, w, c) {
          w.BrevoConversationsID = '63febe5ed8d9de5e705ad9b9';
          w[c] = w[c] || function() {
              (w[c].q = w[c].q || []).push(arguments);
          };
          var s = d.createElement('script');
          s.async = true;
          s.src = 'https://conversations-widget.brevo.com/brevo-conversations.js';
          if (d.head) d.head.appendChild(s);
      })(document, window, 'BrevoConversations');
      });
    </script>
    <!-- /Brevo Conversations {/literal} -->

    <script src="https://cdn.onesignal.com/sdks/web/v16/OneSignalSDK.page.js" defer></script>
    <script>
      window.OneSignalDeferred = window.OneSignalDeferred || [];
      OneSignalDeferred.push(async function(OneSignal) {
        await OneSignal.init({
          appId: "94d350b6-0008-4f02-ac9f-6f7412762402",
        });
      });
    </script>
  </head>

  <body class="<%= controller_name %>">
    <main class="mx-auto">                              <%# mt-28 %>
      <%#= render 'template/nav' %>
      <%= yield %>
    </main>
  </body>
</html>
