<!DOCTYPE html>
<html>
  <head>
    <title>Flatmatecharacter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.turbo.min.js"></script> %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render "template/sidebar_menu" %>
      <%= render "template/alert" %>
      <div class="sm:ml-64">
        <div class="p-4 ">
          <div class="mt-14">
            <%= yield %>
          </div>
        </div>
      </div>
      <%#= link_to "Sign Out As User", destroy_user_session_path, method: :delete %>
    <% elsif !admin_signed_in? %>
      <%= link_to "Sign In", new_user_session_path %>
    <% end %>

    <% if admin_signed_in? %>
      <%= render "template/alert" %>
      <%= render "template/admin_sidebar_menu" %>
      <div class="sm:ml-64">
        <div class="p-4 ">
          <div class="mt-14">
            <%= yield %>
          </div>
        </div>
      </div>
      <%#= link_to "Sign Out As Admin", destroy_admin_session_path, method: :delete %>
    <% elsif !user_signed_in? %>
      <%= link_to "Sign In", new_user_session_path %>
    <% end %>
  </body>
</html>
