<div class="items-center justify-center h-48 mb-4 rounded bg-gray-50 dark:bg-gray-800">
  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
              User Name
          </th>
          <th scope="col" class="px-6 py-3">
              Email
          </th>
          <th scope="col" class="px-6 py-3">
              Phone Number
          </th>
          <th scope="col" class="px-6 py-3">
              User Address
          </th>
          <th scope="col" class="px-6 py-3">
              Role
          </th>
          <th scope="col" class="px-6 py-3">
              Action
          </th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              <%= user.id %> | <%= user.user_name %>
            </th>
            <td class="px-6 py-4">
              <%= user.email %>
            </td>
            <td class="px-6 py-4">
              <%= user.phone_number %>
            </td>
            <td class="px-6 py-4">
              <%= user.address %>
            </td>
            <td class="px-6 py-4">
              <%= user.role %>
            </td>
            <td class="px-6 py-4">
              <%#= link_to "Show", member_path(user), class: "rounded-lg py-2 px-4 bg-gray-100 inline-block font-medium" %>
              <%#= link_to "Edit", edit_user_path(user), class: "rounded-lg py-2 px-4 bg-gray-100 inline-block font-medium" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>